.tweetsCard {
  position: relative;
  width: 320px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 36px;
  border-radius: 20px;
  background: linear-gradient(142deg, #471ca9 0%, #5736a3 69.1%, #4b2a99 100%);
  box-shadow: -2.5776965618133545px 6.873857021331787px 20.621572494506836px 0px
    rgba(0, 0, 0, 0.23);
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  z-index: 1;
}

.mainPicture {
  z-index: 0;
}

.tweetsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tweetsQuantity {
  color: #a175da;
  font-size: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 50px 0 16px 0;
}

.followersQuantity {
  color: #a175da;
  font-size: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.followBtn {
  display: flex;
  width: 196px;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #373737;
  text-transform: uppercase;
  border-radius: 10.311px;
  box-shadow: 0px 3.4369285106658936px 3.4369285106658936px 0px
    rgba(0, 0, 0, 0.25);
}

.followBtn:active,
.followBtn:focus {
  outline: none;
}

.isNotFollowedBtn {
  background: #ebd8ff;
}

.isFollowedBtn {
  background: #5cd3a8;
}

.userRectangle {
  position: absolute;
  top: 50%;
  left: 36px;
  transform: translateY(-50%);
  width: 320px;
  height: 8px;
  flex-shrink: 0;
  background: #a175da;
  box-shadow: 0px 3.4369285106658936px 2.5776965618133545px 0px #fbf8ff inset,
    0px 3.4369285106658936px 3.4369285106658936px 0px rgba(0, 0, 0, 0.06),
    0px -1.7184642553329468px 3.4369285106658936px 0px #ae7be3 inset;
  z-index: 0;
}

.userDisplay {
  margin-bottom: 26px;
}

.userEllipse {
  position: absolute;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 2;
  margin-bottom: 26px;
}

.userPicture {
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5736a3;

  z-index: 1;
}
